::-webkit-scrollbar {
    display: none;
}

.high-light{
    transition: opacity .25s linear;
}

#multicanvasArea.active .high-light {
    opacity:1;
}


#multicanvasArea.deactive .high-light { 
    opacity:0;
}